
#moon {
  width: fit-content;
  margin: 3.5rem auto 0;
}

#sound-load-sintyoku {
  width: 270px;
  margin: 0 auto;
  text-align: left;
  overflow-wrap: break-word;
  font-size: 0.5rem;
}

#countdown {
  margin-top: 1rem;
  font-size: 8rem;
  line-height: 8rem;
  text-align: center;
}
