<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>なぞって覚える早稲田式速記アプリ</title>
  <link rel="stylesheet" href="loading.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="mobile.css">
  <link rel="stylesheet" href="countdown.css">
  <link rel="stylesheet" href="game.css">
  <link rel="stylesheet" href="result.css">
  <script src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js"></script>
  <script>new ViewportExtra(375)</script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
</head>
<body>
  <div id="loading">ロード中…</div>
  <div id="app" v-cloak style="display: none;">
    <template v-if="scene === 'top'">
      <h1>なぞって覚える早稲田式速記アプリ</h1>
      <div class="description">
        清音は「あ」から「ん」のこと☺<br>
        特殊は「ぱ」や「きゃ」のこと😵
      </div>
      
      <fieldset id="config-container">
        <legend>お手本</legend>
        <div class="radio">
          <label class="radio-btn">
            <input type="radio" name="otehon" value="あり" v-model="otehon">
            <span>あり</span>
          </label>
          <label class="radio-btn">
            <input type="radio" name="otehon" value="なし" v-model="otehon">
            <span>なし</span>
          </label>
        </div>
      </fieldset>
      
      <div id="play-btn-container">
        <fieldset id="kiso">
          <legend>基礎</legend>
          <fieldset class="kiso-fieldset">
            <legend>五十音順</legend>
            <div class="play-btn easy" @click="onClickPlay('基礎', '五十音順', '清音')">清音🥳</div>
            <div class="play-btn hard" @click="onClickPlay('基礎', '五十音順', '特殊')">特殊🥴</div>
          </fieldset>
          <fieldset class="kiso-fieldset">
            <legend>ランダム</legend>
            <div class="play-btn easy" @click="onClickPlay('基礎', 'ランダム', '清音')">清音😀</div>
            <div class="play-btn hard" @click="onClickPlay('基礎', 'ランダム', '特殊')">特殊😖</div>
          </fieldset>
        </fieldset>

        <fieldset id="jissen">
          <legend>実践</legend>
          <div class="play-btn easy" @click="onClickPlay('実践', '', '清音')">清音😆</div>
          <div class="play-btn hard" @click="onClickPlay('実践', '', '全部')">全部😱</div>
        </fieldset>
      </div>
      
      <table id="sokki-table">
        <tr v-for="sokkiRow in sokkiTable">
          <td v-for="sokki in sokkiRow">
            <div class="hira">{{sokki.hira}}</div>
            <div class="sokki"
                :class="{
                  'pad-top': sokki.pad === 'top',
                  'pad-bottom': sokki.pad === 'bottom'
                }"
                v-html="sokki.sokki"></div>
          </td>
        </tr>
      </table>

      <div id="poem">
        <h2>注意書き</h2>
        <p>
          濁音、を、ん、っ、ぁぃぅぇぉ、などは対応していません😇
        </p>
        <p>
          実践で見たことがない速記文字が出てきたら、それは<a href="https://sokki.okoshi-yasu.net/sb-syouryakuhou.html" target="_blank" rel="noopener noreferrer">省略文字</a>です🤔
          難易度が高いため、覚える必要はありません😵‍💫
        </p>
        <p>
          あと、実践の繋がっている速記文字はあくまでイメージです😥 鵜呑みにしないように😰
        </p>
  
        <h2>ポエム(ﾖﾏﾅｸﾃｲｲﾖ)</h2>
        <p>
          <a href="https://mogamoga1024.github.io/sokki-game/" target="_blank" rel="noopener noreferrer">前作</a>はボタンを押しているだけで、あまり実践的ではありませんでした😅
          そこで実際に手を動かして覚えられるようなゲームが作りたいな～という思惑から本サイトの作成に至りました😎
        </p>
        <p>
          本当はOCRで文字を判定したかったのですが、障壁が多そうなので諦めました🙁
          そのため判定が厳しかったりガバガバだったりします😫
          判定に不満があるかもしれませんが、厳密にやるならOCRを作るしかないです…😵
          <!-- 本格的なOCRに作ろうと思ったら200万円を優に越えるリソースが必要な気がします🤮🤮🤮 -->
        </p>
        <p>
          速記文字は前作と同じく<a href="https://github.com/XimcoYuzuriha/Xim_Sans" target="_blank" rel="noopener noreferrer">Xim Sans</a>というフォントです🙂
          神です🥹
        </p>
        <p>
          あと、早稲田式速記で<a href="https://www.google.com/logos/2016/halloween16/halloween16.html?hl=ja" target="_blank" rel="noopener noreferrer">こんなゲーム</a>があったら面白いだろうな～と思っています🙂
          （というか文字判定のインスパイア元です😳）
          誰か作ってください😉
        </p>
      </div>
    </template>

    <template v-else-if="scene === 'countdown'">
      <div id="countdown">{{countdownText}}</div>
    </template>

    <template v-if="scene === 'game'">
      <div id="game-header">
        <div id="retire-btn" @click="onClickRetire">
          🔙終わる
        </div>
        <div id="sintyoku">
          {{sintyoku}}
        </div>
      </div>
      <div id="mondai">
        <span v-for="(moji, index) in mondai"
              :class="{seikai: index < kaitou.length}">
          {{moji}}
        </span>
      </div>
      <div id="kaitou" v-html="kaitou.join('')"></div>
      <div id="message">{{message}}</div>

      <div id="canvas-container" ref="canvasContainer">
        <canvas id="otehon-canvas" ref="otehonCanvas"></canvas>
        <canvas
          id="sokki-canvas"
          ref="sokkiCanvas"
          @mousedown="onMouseDown"
          @mouseover="onMouseDown"
          @mouseup="onMouseUp"
          @mouseout="onMouseUp"
          @mousemove="onMouseMove"
          @touchstart="onTouchStart"
          @touchend="onTouchEnd"
          @touchmove="onTouchMove"
          >
        </canvas>
      </div>
    </template>

    <template v-else-if="scene === 'result'">
      <div id="result-title">
        {{resultTitle}}
        <br>
        {{"お手本" + otehon}}
      </div>
      <div id="rank">{{rank}}</div>
      <table id="result-table">
        <tr>
          <td>スコア</td>
          <td>{{score}}</td>
        </tr>
        <tr>
          <td>タイム</td>
          <td>{{displayClearTime}}秒</td>
        </tr>
        <tr>
          <td>１文字</td>
          <td>{{hitomoji}}秒</td>
        </tr>
        <tr>
          <td>正確率</td>
          <td>{{seikakuritu}}%</td>
        </tr>
        <tr>
          <td>苦手</td>
          <td>{{nigate}}</td>
        </tr>
      </table>
      <div id="result-footer">
        <div @click="onClickResultEnd">終わる</div>
        <div @click="onClickResultTudukeru">続ける</div>
        <div @click="onClickTweet">つぶやく</div>
      </div>
    </template>
  </div>

  <script src="loading.js"></script>
  <script src="otehon_canvas.js"></script>
  <script src="drawing_canvas.js"></script>
  <script src="canvas_utils.js"></script>
  <script src="sokki.js"></script>
  <script src="sokki_data.js"></script>
  <script src="sokki_utils.js"></script>
  <script src="mondai.js"></script>
  <script src="utils.js"></script>
  <script src="main.js"></script>
</body>
</html>
